---
---

<footer class="footer">
  <p>&copy; 2024 Minimalista By Bryan Muñiz</p>
</footer>

<style>
  .footer {
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-dark-brown);
    opacity: 0.5;
    border-top: 1px solid var(--color-beige);
  }
</style>
